{
    email hi@biixie.com
}

{$DOMAIN:localhost} {
	# Override default directive priority using route
	route {
		reverse_proxy /whoami whoami:80

		# TODO: Remove this once website is ready!
		respond `under construction! check back soon c:`

		reverse_proxy biixie_frontend:8080
		reverse_proxy biixie_backend:3000
	}
}

# WWW redirect
www.{$DOMAIN:localhost} {
	redir {scheme}://{$DOMAIN:localhost}{uri}
}
